Flask
Flask-CORS
Flask-Limiter
gunicorn
Werkzeug
bcrypt
PyJWT
python-dotenv
requests
pdfkit
WeasyPrint
Pillow
web3
eth-account
eth-keys
transformers
huggingface-hub
python-dateutil
pytz
emoji
qrcode
matplotlib
apscheduler
numpy
pandas